USE [master]
GO
/****** Object:  Database [NURSAN-DP2018]    Script Date: 31.08.2018 18:52:04 ******/
CREATE DATABASE [NURSAN-DP2018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NURSAN-DP2018', FILENAME = N'E:\MSSQL\Data\NURSAN-DP2018.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NURSAN-DP2018_log', FILENAME = N'E:\MSSQL\Data\NURSAN-DP2018_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NURSAN-DP2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NURSAN-DP2018]
GO
USE [NURSAN-DP2018]
GO
/****** Object:  Table [dbo].[Bölümler]    Script Date: 31.08.2018 18:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bölümler](
	[ID] [int] NOT NULL,
	[BölümAdı] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bölümler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Çalışan]    Script Date: 31.08.2018 18:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Çalışan](
	[ID] [int] NOT NULL,
	[Adı] [nvarchar](50) NOT NULL,
	[Soyadı] [nvarchar](50) NOT NULL,
	[SicilNo] [nvarchar](50) NOT NULL,
	[İşBaşıTarihi] [nvarchar](50) NOT NULL,
	[Kaşe] [nvarchar](50) NULL,
	[BilgiNotu] [nvarchar](50) NULL,
	[isJoker] [int] NULL,
	[BantlamaProses] [nvarchar](50) NULL,
	[KlipTestProses] [nvarchar](50) NULL,
	[ElektrikselTestProses] [nvarchar](50) NULL,
	[GözKontrolProses] [nvarchar](50) NULL,
	[PaketlemeProses] [nvarchar](50) NULL,
	[MalzemeTaşımaProses] [nvarchar](50) NULL,
	[ModulHazirlamaProses] [nvarchar](50) NULL,
	[Kıdem] [nvarchar](50) NULL,
	[BolumID] [int] NULL,
	[EkipID] [int] NULL,
	[IstasyonID] [int] NULL,
 CONSTRAINT [PK_Çalışan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devamsızlık]    Script Date: 31.08.2018 18:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devamsızlık](
	[ID] [int] NOT NULL,
	[Sebebi] [nvarchar](50) NOT NULL,
	[Süresi] [nvarchar](50) NOT NULL,
	[ÇalışanID] [int] NOT NULL,
	[tarih] [date] NOT NULL,
 CONSTRAINT [PK_Devamsızlık] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ekip]    Script Date: 31.08.2018 18:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ekip](
	[ID] [int] NOT NULL,
	[EkipAdı] [nvarchar](50) NOT NULL,
	[OperatörAdı] [nvarchar](50) NULL,
	[EkipNO] [nvarchar](50) NOT NULL,
	[Görevi] [nvarchar](50) NULL,
	[isJoker] [int] NULL,
	[HatID] [int] NULL,
 CONSTRAINT [PK_Ekip] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hat]    Script Date: 31.08.2018 18:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hat](
	[ID] [int] NOT NULL,
	[HatAdı] [nvarchar](50) NOT NULL,
	[FormenAdı] [nvarchar](50) NULL,
	[FormenSoyadı] [nvarchar](50) NULL,
	[Malzemeci] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Istasyon]    Script Date: 31.08.2018 18:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Istasyon](
	[ID] [int] NOT NULL,
	[Vekil1ID] [int] NULL,
	[Vekil2ID] [int] NULL,
	[BolumID] [int] NULL,
	[StandartZaman] [nvarchar](50) NULL,
 CONSTRAINT [PK_Istasyon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 31.08.2018 18:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[ID] [int] NOT NULL,
	[KullanıcıAdı] [nvarchar](50) NOT NULL,
	[Şifre] [nvarchar](50) NOT NULL,
	[Departman] [nvarchar](50) NULL,
	[Görev] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kullanıcılar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Çalışan]  WITH CHECK ADD  CONSTRAINT [FK_Çalışan_Bölümler] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bölümler] ([ID])
GO
ALTER TABLE [dbo].[Çalışan] CHECK CONSTRAINT [FK_Çalışan_Bölümler]
GO
ALTER TABLE [dbo].[Çalışan]  WITH CHECK ADD  CONSTRAINT [FK_Çalışan_Ekip1] FOREIGN KEY([EkipID])
REFERENCES [dbo].[Ekip] ([ID])
GO
ALTER TABLE [dbo].[Çalışan] CHECK CONSTRAINT [FK_Çalışan_Ekip1]
GO
ALTER TABLE [dbo].[Çalışan]  WITH CHECK ADD  CONSTRAINT [FK_Çalışan_Istasyon] FOREIGN KEY([IstasyonID])
REFERENCES [dbo].[Istasyon] ([ID])
GO
ALTER TABLE [dbo].[Çalışan] CHECK CONSTRAINT [FK_Çalışan_Istasyon]
GO
ALTER TABLE [dbo].[Devamsızlık]  WITH CHECK ADD  CONSTRAINT [FK_Devamsızlık_Çalışan] FOREIGN KEY([ÇalışanID])
REFERENCES [dbo].[Çalışan] ([ID])
GO
ALTER TABLE [dbo].[Devamsızlık] CHECK CONSTRAINT [FK_Devamsızlık_Çalışan]
GO
ALTER TABLE [dbo].[Ekip]  WITH CHECK ADD  CONSTRAINT [FK_Ekip_Hat] FOREIGN KEY([HatID])
REFERENCES [dbo].[Hat] ([ID])
GO
ALTER TABLE [dbo].[Ekip] CHECK CONSTRAINT [FK_Ekip_Hat]
GO
ALTER TABLE [dbo].[Istasyon]  WITH CHECK ADD  CONSTRAINT [FK_Istasyon_Bölümler] FOREIGN KEY([BolumID])
REFERENCES [dbo].[Bölümler] ([ID])
GO
ALTER TABLE [dbo].[Istasyon] CHECK CONSTRAINT [FK_Istasyon_Bölümler]
GO
USE [master]
GO
